#flight-f1{
    border:1px solid black;
    background: linear-gradient(rgb(136, 255, 0),rgb(255, 0, 115));
    width:40%;
    padding:2rem;
    margin:0 auto;
    border-radius: 5px;
}
#flight-f2{
    border:1px solid black;
    background: linear-gradient(rgb(164, 156, 115),rgb(0, 174, 255));
    width:40%;
    padding:2rem;
    margin:4rem auto;
    border-radius: 5px;
}
#flight-bkg{
    background-image: url(../images/emirates.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; 
    height: 100%;
    padding:1rem;
    width:101%;
}